@model IEnumerable<Products.Models.Product>

@{
    ViewData["Title"] = "Products Home Page";
}

<h1>Products</h1>

<p>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="/Images/ProductsImages/@item.ProductImage" class="card-img-top" alt="@item.ProductName">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.ProductDescription</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-sm btn-outline-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        <small class="text-muted">@item.ProductPrice.ToString("C")</small>
                    </div>
                </div>
            </div>
        </div>
}
